<div style="background-color: rgb(74, 144, 226); width: 100%; padding: 10px; color: #fff;">
    <h1>SeaTestBase Biodatas</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222">
    <h2>Bonjour,</h2>
    <p>Vous avez récemment envoyé vos biodatas afin d'accéder à SeaTestBase.</p>
    <p>Après revue des informations envoyées par un administrateur, vos biodatas ont été validées</p>
    <p>Elles seront très prochainement envoyé aux autorités. Vous serez ensuite informé de leur réponse.</p>
    <p>A tout moment, vous pourrez également consulter l'avancée de votre demande grâce à ces identifiants</p>
</div>