<div style="background-color: rgb(74, 144, 226); width: 100%; padding: 10px; color: #fff;">
    <h1>SeaTestBase Biodatas</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222">
    <h2>Bonjour,</h2>
    <p>Vous avez récemment envoyé vos biodatas afin d'accéder à SeaTestBase.</p>
    <p>Malheureusement, ces biodatas ont été invalidées par un administrateur pour les raisons suivantes:</p>
    
    <p>Merci de vous connecter au site avec vos identifiants afin d'envoyer à nouveau vos biodatas.</p>
    <p>La date limite d'envoi de vos biodatas pour ce projet est fixée sau {{ dateLimite }}</p>
    <p>A tout moment, vous pourrez également consulter l'avancée de votre demande grâce à ces identifiants</p>
</div>