<div style="background-color: #5bb47d; width: 100%; padding-top: 8px; padding-bottom: 8px; color: #fff; text-align: center;">
    <h1 style="font-weight: normal;">Sea Test Base Biodata</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222; padding: 15px;">
    <div style="height: 25px; width: 100%;"></div>
    <div style="width: 70%; color: #222222; margin-left: 15%;">
        {% if langue == 'en' %}
            <h2>Hello,</h2>
            <p>You have received an invitation to enter your biodata in order to access Sea Test Base in the near future.</p>
            <p>Use the following credentials to log in:</p>
        {% else %}
            <h2>Bonjour,</h2>
            <p>Vous avez reçu une invitation pour saisir vos biodata afin d'accéder prochainement à Sea Test Base.</p>
            <p>Utilisez les identifiants suivants pour vous connecter:</p>
        {% endif %}
    </div>
    <div style="height: 10px; width: 100%;"></div>
    <div style="background-color: #fff; width: 70%; margin-left: 15%;">
        <div style="height: 10px; width: 100%;"></div>
        <div style="width: 80%; margin-left: 10%;">
            {% if langue == 'en' %}
                <p>Login: <span style="font-weight: bold;">{{ identifiant }}</span></p>
                <p>Password: <span style="font-weight: bold;">{{ password }}</span></p>
            {% else %}
                <p>Identifiant: <span style="font-weight: bold;">{{ identifiant }}</span></p>
                <p>Mot de passe: <span style="font-weight: bold;">{{ password }}</span></p>
            {% endif %}
        </div>
        <div style="height: 10px; width: 100%;"></div>
    </div>
    <div style="height: 25px; width: 100%;"></div>
    <a href="https://biodata.seatestbase.com/#/public/page-connexion-visiteur/" target="_blank" style="display: inline-block; background-color: #fff; padding-top: 20px; padding-bottom: 20px; width: 70%; margin-left: 15%; color: #000; text-decoration: none; text-align: center;">
        <span style="font-size: 1.4em;">
            {% if langue == 'en' %}
                CONNECT
            {% else %}
                CONNEXION
            {% endif %}
        </span>
    </a>
    <div style="text-align: center;">
        <p style="font-size: 0.8em;">
            {% if langue == 'en' %}
                Or use the following link: https://biodata.seatestbase.com
            {% else %}
                Ou utilisez le lien suivant: https://biodata.seatestbase.com
            {% endif %}
        </p>
    </div>
    <div style="height: 25px; width: 100%;"></div>
    <div style="text-align: center; color: #7d7d7d;">
        {% if langue == 'en' %}
            <p>The deadline for sending your biodata is {{ dateLimite }}</p>
            <p>At any time, you can also check the progress of your request with these credentials</p>
        {% else %}
            <p>La date limite d'envoi de vos biodata est fixée au {{ dateLimite }}</p>
            <p>A tout moment, vous pourrez également consulter l'avancée de votre dossier grâce à ces identifiants</p>
        {% endif %}
    </div>
    <div style="height: 25px; width: 100%;"></div>
</div>