<div class="title">
    <h1>SeaTestBase Biodatas</h1>
</div>
<div class="content">
    <h2>Bonjour,</h2>
    <p>Vous avez reçu une invitation pour saisir vos biodatas afin d'accéder prochainement à Sea Test Base.</p>
    
    <p>Utilisez les identifiants suivants afin de vous connecter</p>
    <div class="white-bloc">
        <p>Identifiant: {{ identifiant }}</p>
        <p>Mot de passe: {{ password }}</p>
    </div>
    <div class="btn-zone">
        <span class="btn-connexion">Connexion</span>
    </div>
    
    <p>La date limite d'envoi de vos biodatas pour ce projet est fixée au {{ dateLimite }}</p>
    <p>A tout moment, vous pourrez également consulter l'avancée de votre demande grâce à ces identifiants</p>
</div>