<div style="background-color: #5bb47d; width: 100%; padding: 10px; color: #fff;">
    <h1>Sea Test Base Biodatas</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222">
    <h2>Bonjour,</h2>
    <p>Vous avez récemment reçu une invitation à saisir vos biodatas afin d'accèder à SeaTestBase.</p>
    <p>Ce message est un rappel envoyé automatiquement, il vous reste jusqu'au {{ dateLimite }} pour envoyer vos biodatas</p>
    <p>Utilisez les identifiants reçus dans le premier mail d'invitation.</p>
    <p>Connexion</p>
</div>