<div style="background-color: rgb(74, 144, 226); width: 100%; padding: 10px; color: #fff;">
    <h1>SeaTestBase Biodatas</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222">
    <h2>Bonjour,</h2>
    <p>Vous avez oublié vos identifiant pour saisir vos biodatas afin d'accéder prochainement à Sea Test Base.</p>
    <p>Utilisez les identifiants suivants afin de vous connecter</p>
    <div style="background-color: #fff; width: 70%; margin-left: 15%;">
        <p>Identifiant: {{ identifiant }}</p>
        <p>Mot de passe: {{ password }}</p>
    </div>
    <p>Connexion</p>
    <p>A tout moment, vous pourrez également consulter l'avancée de votre demande grâce à ces identifiants</p>
</div>