<div style="background-color: #5bb47d; width: 100%; padding-top: 8px; padding-bottom: 8px; color: #fff; text-align: center;">
    <h1 style="font-weight: normal;">Sea Test Base Biodatas</h1>
</div>
<div style="background-color: rgb(238, 238, 238); color: #222; padding: 15px;">
    <div style="height: 25px; width: 100%;"></div>
    <div style="width: 70%; color: #222222; margin-left: 15%;">
        
        {% if langue == 'en' %}
            <h2>Hello,</h2>
            <p>After analysis of your biodatas by an administrator, it appears that data are invalid or missing.</p>
            <p>As such, your biodatas can not be passed on to the authorities.</p>
        {% else %}
            <h2>Bonjour,</h2>
            <p>Après analyse de vos biodatas par un administrateur, il apparait que des données sont invalides ou manquantes.</p>
            <p>En l'état actuel, vos biodatas ne peuvent donc pas être transmises aux autorités.</p>
        {% endif %}
        
        {% if messageExplicatif != '' %}
            {% if langue == 'en' %}
                <p>Message from the administrator:</p>
            {% else %}
                <p>Message de l'administrateur:</p>
            {% endif %}
            <div style="height: 10px; width: 100%;"></div>
            <div style="background-color: #fff; width: 70%; margin-left: 15%;">
                <div style="height: 10px; width: 100%;"></div>
                <div style="width: 80%; margin-left: 10%;">
                    {{ messageExplicatif }}
                </div>
                <div style="height: 10px; width: 100%;"></div>
            </div>
        {% endif %}
    </div>
    <div style="height: 25px; width: 100%;"></div>
</div>